#map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
		
		
      }

h1 {
   height: 18px !important;
   color: white; 
   font-style: Verdana; 
   padding: 0px 0px 5px 0px;
     
	
}

h2 {
    display: block;
    font-size: 1.3em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p{
	font-family: 'Roboto','sans-serif';
	font-size: 12px;
	
}
h1 {
    display: block;
    font-size: 1.3em;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h3 {
  height: 15px !important;
  color: white; 
  font-style: Verdana;   
	
}

.button1, .button2{
	
	background-color: #e54e1b;
	border-radius: 4px;	
	color: #fff;	
  	height: 60px;
  	width: 60px;
  	border-radius: 50%;
  	border: 1px solid red;
	
    
}

.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      #target {
        width: 345px;
      }

#wrapper, #flip {
    padding: 5px;
    text-align: center;
    background-color: #596675;
    border: solid 1px #efeaeb;
	font-family: 'Roboto','sans-serif';
	color:white;
	
}

#wrapper {
    padding: 30px;
    display: none;
	font-family: 'Roboto','sans-serif';
}

.container{
	background-image: url('');
	
}

.img-circle {
    border-radius: 50%;
}

#wrapper { border: 2px; border-style: solid; border-color:#e8e1e2;overflow:hidden; }
#col1 { width: 25%; float:left; background-color: #afbabf; color: white; }
#col2 { width: 25%; float:left; background-color: #c5db8a; }
#col3 { width: 25%; float:left; background-color: #afbabf; color: white;}
#col4 { width: 25%; float:left; background-color: #c5db8a; }




#floating-panel {
  display:none;
  position: absolute;
  top: 500px;
  width: 200px;
  height: 230px;
  left: 1%;
  z-index: 5;
  background-color: #595556;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

#col5{ width: 25%; float:left; background-color: #595556; }
#col6{ width: 25%; float:left; background-color: #595556; }
#col7{ width: 25%; float:left; background-color: #595556; }

.myteam{	
	height: 22px;
	padding: 0px 5px 7px 5px;
	background-color: #ed2842;
}
#floating-panel2 {
  display: none;
  position: absolute;
  top: 680px;
  width: 215px;
  height: 230px;
  right: 1%;
  z-index: 5;
  background-color: #565554;  
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

@media only screen and (max-width: 479px){
    #floating-panel2 { width: 80%; }
}

#col17{ width: 100%; float:left; background-color: #ffffff; }
#col18{ width: 100%; float:left; background-color: #ffffff; }

#floating-panel3 {
  display: none;
  position: absolute;
  top: 385px;
  width: 215px;
  height: 280px;
  right: 1%;
  z-index: 5;
  background-color: #565554; 
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 1;
  filter: alpha(opacity=70);  


}

@media only screen and (max-width: 400px){
    #floating-panel3 { width: 80%; }
}


#floating-panel4 {
  display: none;
  position: absolute;
  top: 150px;
  width: 115px;
  height: 20px;
  right: 25%;
  z-index: 5;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 1;
  filter: alpha(opacity=70);
  box-shadow: 5px 5px 5px #888888;
}

#floating-panel5 {
  display: none;
  position: absolute;
  top: 150px;
  width: 100px;
  height: 20px;
  right: 15%;
  z-index: 5;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 1;
  filter: alpha(opacity=70);
  box-shadow: 5px 5px 5px #888888;
}


#floating-panel6 {
 
  position: absolute;
  top: 440px;
  width: 20px;
  height: 20px;
  left: 3%;
  z-index: 5;
  background-color: #abd1f3;
  padding: 0px;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 1;
  filter: alpha(opacity=70);
  
}





#floating-panel7 {
  display: none;
  position: absolute;
  top: 370px;
  width: 280px;
  height: 150px;
  left: 23%;
  z-index: 5;
  background-color: #f7f7f4;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 1;
  filter: alpha(opacity=70);
  box-shadow: 5px 5px 5px #888888;
}

@media only screen and (max-width: 479px){
    #floating-panel7 { width: 70%; }
}

#floating-panel8{
  display: none;
  position: absolute;
  bottom: 200px;
  width: 290px;
  height: 150px; 
  overflow-y:scroll;
  overflow-x:hidden;
  left: 23%; 
  z-index: 5;
  background-color: #f7f7f4;
  padding: 5px;
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 0px;
  opacity: 1;
  filter: alpha(opacity=70);
  box-shadow: 5px 5px 5px #888888;
}



@media only screen and (max-width: 479px){
    #floating-panel8 { width: 70%; }
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow:none;
    border-radius: 0px;
    background-color:#aaa;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 1px 1px 6px #333; 
    background-color:#666;
}

#floating-panel9{
  
  position: absolute;
  top: 300px;
  width: 300px;
  height: 30px;
 
  left: 10%;
  z-index: 5;
  background-color: #ffffff;
  
  border: 1px solid #999;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 0px;
  opacity: 1;
  filter: alpha(opacity=70);
  box-shadow: 5px 5px 5px #888888;
}

#floating-panel10{
  
  position: absolute;
  bottom: 80px;
  width: 200px;
  height: 10px; 
  left: 45%;  
  z-index: 1;
  background-color: #efefea;
  padding: 0px;
  text-align: left;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 0px;
  opacity: 1;
  filter: alpha(opacity=70);
  margin-left: auto;
  margin-right: auto;
 
}

#Lbutton, #Cbutton {
     
     display: inline-block;    
     padding: 2px;   
}
.popup {
  top: 20px;
  right: 400px;  
  background-color:#ed2842;
  color:white;
  Width: 150px;
  height: 30px;
  
  border-radius:5px;
  opacity:0;
  position:absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition:  opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition:  opacity 0.5s;
  transition:  opacity 0.5s;
}

.tooltip{
	
	background-image: url('');
	
}

.tooltip:hover .popup {
    opacity:1;
	font-family: 'Roboto','sans-serif';
	text-align:center; 
	
}

#close { 
  margin-top: 0.0em; 
  position:absolute;
  top:0;
  right:0;
  
}
#close:before {
	
  content: "✖";
  border: 1px solid gray;
  background-color:#eee;
  padding:0.1em;
  cursor: pointer;
}

.caption {
    display: block;
}

.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
}

.bidding{
position: absolute;
width: 20%;	
height:30%;
bottom: 1px;
left: 1%;
  z-index: 5;
  background-color: #edcb9c;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-size:small;
  font-family: 'Roboto','sans-serif';
  line-height: 28px;
  padding-left: 10px;
  opacity: 0.7;
  filter: alpha(opacity=70);
	
}

.inputtext input{
		
	width: calc(100% - 10px);
	
	
}
.button-bar {
  background: @button-bar-bg-color;
  padding: @general-spacer * 2;
}
#flipscore {
    position: absolute;
    bottom: 5px;
    left: 3px;
}

.img-score {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    border: 0.2em solid #808080;
    border-radius: 13%;
    margin-left: 0.1em;
}

.img-score:after {
    content: '';
    display: inline-block;
    margin-top: 0.2em;
    width: 1.0em;
    height: 1.0em;
    border-top: 0.4em solid #808080;
    border-right: 0.4em solid #808080;
    -moz-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
	
}
#directions {
    width: 100%;
    float: left; 
}

#FromToSelect{
	width: 100%;
    float: left; 
	
}


